In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

In [16]:
df = pd.read_csv('featured_dataset1.csv')
df

,Unnamed: 0,Mean,std,Entropy,RMS,Kurtios,HMI1,HMI2,HMI3,HMI4,Area,Perimeter,Circle,Convex Area,Solidity,Equivalent Diameter,Major Axis,Minor Axis,Class
0,0,69.693600,60.988672,6.614287,9.041661,0.415330,2.785595,10.037521,10.662000,11.185945,5827.800000,795.974912,0.302850,16623.100000,0.599209,72.052148,96.303532,119.381571,0
1,1,42.088384,50.356683,6.553086,8.875129,5.073736,2.617668,7.231273,9.914340,9.868268,1616.000000,592.984842,0.057752,5180.500000,0.311939,45.360281,50.361172,109.413765,0
2,2,55.212544,46.056565,5.375762,9.302612,-0.628678,2.752905,8.030957,11.070417,11.550219,10522.700000,1370.454374,0.108409,58857.300000,0.491174,94.177573,148.140262,261.929187,0
3,3,76.037273,79.565990,5.781641,7.635726,-0.877843,2.904895,7.803627,12.448359,12.308773,4735.000000,662.139171,0.140869,11498.250000,0.481972,74.814205,86.292353,150.854176,0
4,4,49.957904,48.439813,5.764681,10.755480,1.467716,2.720641,7.122902,10.259218,11.235536,5182.666667,720.466755,0.130135,11052.666667,0.469977,71.315445,136.367100,217.954408,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5707,5707,55.537216,41.476325,6.681584,9.934108,-0.125073,2.678192,8.030136,10.921777,13.409310,3899.600000,961.862039,0.105037,20956.300000,0.323514,67.000883,160.850187,286.399046,1
5708,5708,58.451622,42.845989,6.740698,10.103457,-0.062257,2.700193,8.071390,10.813083,13.184454,3647.071429,746.277822,0.103040,12296.357143,0.412985,65.040970,222.811411,547.006941,1
5709,5709,45.893677,33.173744,6.370771,9.474798,0.096858,2.585893,7.683718,10.163987,11.763859,1469.833333,556.181789,0.085931,8562.666667,0.276993,42.977721,364.441633,740.432933,1
5710,5710,41.703392,36.594254,6.356158,9.738114,1.184672,2.608306,8.878155,11.275747,11.334920,4949.750000,1228.037182,0.069936,53864.750000,0.311380,72.037591,194.005651,262.560186,1
5711,5711,36.168495,43.646127,5.594215,7.748545,0.352705,2.614579,7.736397,11.990038,11.572209,4368.916667,763.193488,0.185503,15945.000000,0.525403,70.561511,104.328279,178.293465,1

In [17]:
df.columns

Index(['Unnamed: 0', 'Mean', 'std', 'Entropy', 'RMS', 'Kurtios', 'HMI1',
       'HMI2', 'HMI3', 'HMI4', 'Area', 'Perimeter', 'Circle', 'Convex Area',
       'Solidity', 'Equivalent Diameter', 'Major Axis', 'Minor Axis', 'Class'],
      dtype='object')

In [18]:
df.shape

(5712, 19)

In [19]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,Mean,std,Entropy,RMS,Kurtios,HMI1,HMI2,HMI3,HMI4,Area,Perimeter,Circle,Convex Area,Solidity,Equivalent Diameter,Major Axis,Minor Axis,Class
0,69.693600,60.988672,6.614287,9.041661,0.415330,2.785595,10.037521,10.662000,11.185945,5827.800000,795.974912,0.302850,16623.100000,0.599209,72.052148,96.303532,119.381571,0
1,42.088384,50.356683,6.553086,8.875129,5.073736,2.617668,7.231273,9.914340,9.868268,1616.000000,592.984842,0.057752,5180.500000,0.311939,45.360281,50.361172,109.413765,0
2,55.212544,46.056565,5.375762,9.302612,-0.628678,2.752905,8.030957,11.070417,11.550219,10522.700000,1370.454374,0.108409,58857.300000,0.491174,94.177573,148.140262,261.929187,0
3,76.037273,79.565990,5.781641,7.635726,-0.877843,2.904895,7.803627,12.448359,12.308773,4735.000000,662.139171,0.140869,11498.250000,0.481972,74.814205,86.292353,150.854176,0
4,49.957904,48.439813,5.764681,10.755480,1.467716,2.720641,7.122902,10.259218,11.235536,5182.666667,720.466755,0.130135,11052.666667,0.469977,71.315445,136.367100,217.954408,0

In [20]:
# def drop_rows_with_all_zeros(data):
#     # Calculate the sum of values in each row
#     row_sums = np.sum(data, axis=1)

#     # Create a boolean mask indicating rows with all zeros
#     mask = row_sums != 0

#     # Filter out the rows using the boolean mask
#     filtered_data = data[mask]

#     return filtered_data

# # Call the function to drop rows with all zeros
# df = drop_rows_with_all_zeros(df)

# # Print the filtered dataset
# df

In [21]:
df = df.dropna()

In [22]:
df.shape

(5053, 18)

In [23]:
X =df.drop(['Class'], axis=1)
Y = df['Class']
X

xtrain,xtest,ytrain,ytest = train_test_split(X,Y, test_size=0.3, random_state=0)

## NB

In [26]:
from sklearn.metrics import accuracy_score

In [24]:
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(xtrain,ytrain)

pred_MNB = MNB.predict(xtest)

# MNB.score(y_train, y_pred_train)*100, MNB.score(y_test,y_pred_test)*100


accuracy = accuracy_score(ytest, pred_MNB)

ValueError: Negative values in data passed to MultinomialNB (input X)

In [8]:
accuracy

0.3478802992518703

## RF

In [27]:
rf_clf = RandomForestClassifier()
# Fit the parameters before oversampling:
rf_clf.fit(xtrain, ytrain)

#predict
y_pred_test_rf = rf_clf.predict(xtest)

round(accuracy_score(ytest , y_pred_test_rf)*100 , 2)

85.09

## SVM

In [29]:
from sklearn.svm import SVC
from sklearn import svm

In [11]:
# svm = SVC(kernel='linear')
# svm.fit(xtrain, ytrain)

# # svm_score = svm.score(xtest, ytest)
# # print('SVM accuracy:', svm_score)
# # svm.score(xtrain, ytrain)

# pred_svm = svm.predict(xtest)

# round(accuracy_score(ytest , pred_svm)*100 , 2)

In [12]:
# pred_svm = svm.predict(xtest)

# round(accuracy_score(ytest , pred_svm)*100 , 2)

In [30]:
svc = SVC()
svc.fit(xtrain, ytrain)

pred_svc = svc.predict(xtest)

round(accuracy_score(ytest , pred_svc)*100 , 2)

51.25

In [31]:
svm_classifier = svm.SVC(kernel='rbf')
svm_classifier.fit(xtrain, ytrain)

pred_svc = svm_classifier.predict(xtest)

round(accuracy_score(ytest , pred_svc)*100 , 2)

51.25

# XGB

In [32]:
import xgboost as xgb

In [33]:
xgb_classifier = xgb.XGBClassifier()

xgb_classifier.fit(xtrain, ytrain)

pred_xgb = xgb_classifier.predict(xtest)

round(accuracy_score(ytest , pred_xgb)*100 , 2)

88.06